# ==============================================================================
# PIZZABYTE v3.0 - EJEMPLO DE VARIABLES DE ENTORNO
# ==============================================================================

DB_HOST=localhost
DB_PORT=5432
DB_NAME=pizzabyte_db
DB_USER=postgres
DB_PASSWORD=root
DB_SCHEMA=pizzabyte_core

PORT=8080
BREVO_API_KEY=tu_api_key_de_brevo
BREVO_SENDER=tu_correo_remitente@gmail.com
